# macOS
.DS_Store

# macOS Finder metadata
.DS_Store

# Xcode build artifacts
build/
DerivedData/
*.xcworkspace
*.xcodeproj

# Environment files
.env

# Log files
logs/

# Node modules
node_modules/
*.h5
analytics/models/
# Python bytecode
__pycache__/

# Gradle wrapper binary
executor/gradle/wrapper/gradle-wrapper.jar
